@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --pri-nav: hsl(217, 28%, 15%);
    --pri-main-bg: hsl(218, 28%, 13%);
    --pri-foo-bg: hsl(216, 53%, 9%);
    --pri-testi-bg: hsl(219, 30%, 18%);
    --gra-cyan: hsl(176, 68%, 64%);
    --gra-blue: hsl(198, 60%, 50%);
    --gra-error: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
    --weig-ini: 400;
    --weig-bold: 600;
    --font-body:  'Open Sans', sans-serif;
    --font-head: 'Raleway', sans-serif;
}

body {
    background: var(--pri-nav);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

p {
    font-size: 17px;
}


/***alert***/

.alert {
    z-index: 100;
    margin: 0;
    background-color: hsl(218, 28%, 13%);
    text-align: center;
    color: white;
    border-radius: 0;
}

.alert a {
    color: #969da5;
    font-weight: bold;
}


/*****end alert***/


/******************head*********************/

#head {
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

nav a img {
    width: 150px;
}

ul.nav {
    display: flex;
    flex-direction: row;
}

li.navlink {
    margin-left: 2rem;
    color: #969da5;
    font-weight: 400;
    font-size: 18px;
    list-style-type: none;
    cursor: pointer;
}

li.navlink:hover {
    color: white;
    border-bottom: 1px solid white;
}

#head .content {
    width: 500px;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
    text-align: center;
}

#head .content img {
    width: 500px;
}

#head .content .info h3 {
    font-family: var(--font-head);
    font-weight: var(--weig-bold);
    font-size: 25px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#head button {
    background: linear-gradient(to right, var(--gra-cyan), var(--gra-blue));
    padding: .5rem 3rem;
    border-radius: 30px;
    box-shadow: none;
}

#head button:hover {
    box-shadow: none;
    background: var(--gra-cyan);
    color: white;
}


/******************bg-image*******************/

#bg-image {
    height: auto;
    z-index: -5;
    position: relative;
    top : 0;
}
#bg-image img{
    width: 100%;
}

/***************offre*******************/

#offre {
    background:var(--pri-main-bg) ;
    height: auto;
    margin: auto;
    padding: 2rem 0;
}

#offre .item {
    text-align: center;
    margin-bottom: 2.4rem;
    z-index: 10;
}

#offre .item img {
    width: 80px;
}

#offre .item h4 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

#offre .item p {
    width: 380px;
    margin: auto;
}


/******************productive***************/

#productive {
    margin: 20px auto;
}

#productive img {
    width: 100%;
}

#productive .content {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    justify-content: center;
}

#productive .content h3 {
    font-size: 28px;
    font-weight: bold;
}

#productive .content a {
    width: fit-content;
    text-decoration: none;
    color: var(--gra-cyan);
    border-bottom: var(--gra-cyan) solid 1px;
}

#productive .content a:hover {
    color: white;
    border-bottom: white solid 1px;
}


/****************comment**************/

#comment {
    padding: 5rem 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    position: relative;
}

.first .img {
    position: absolute;
    top: -33px;
    left: -12px;
    z-index: -1;
}

#comment .person {
    background-color: var(--pri-testi-bg);
    padding: 1.2rem 1.5rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

#comment .person-info {
    display: flex;
}

#comment .personal-info {
    margin-left: 1rem;
}

.img-person {
    height: 50px;
}

#comment .person-info img {
    border-radius: 50%;
}

#comment .person-info p {
    margin: 0;
}

#comment .person-info p.name {
    font-size: 14px;
    font-weight: var(--weig-bold);
}


/**************Get started***********************/

#get-started {
    background: #1c2230;
    width: 800px;
    padding: 2rem 3rem;
    border-radius: 10px;
    position: relative;
    top: 5rem;
}

#get-started input {
    width: 100%;
    padding: 6px 30px;
    border-radius: 30px;
}

#get-started .btn {
    border-radius: 30px;
    padding: 6px 30px;
    width: 100%;
    background: linear-gradient(to right, var(--gra-cyan), var(--gra-blue));
    padding: .5rem 3rem;
    border-radius: 30px;
    box-shadow: none;
}

#get-started button:hover {
    box-shadow: none;
    background: var(--gra-cyan);
    color: white;
}


/**********footer***************/

footer {
    background-color: #0c1524;
    padding-top: 9rem;
    padding-bottom: 3rem;
}

footer .logo-footer img {
    width: 80px;
}

footer .localisation {
    margin-top: 2rem;
    display: flex;
    align-items: baseline;
}

footer .localisation i {
    margin-right: 1rem;
}

footer .localisation p {
    font-size: 17px;
}

footer .contact {
    margin: auto;
    margin-top: 2rem;
}

footer .contact .social {
    margin-bottom: .5rem;
    margin-left: 1.2rem;
}

footer .contact .social i {
    margin-right: .8em;
}

footer .more {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

footer .more ul li {
    list-style-type: none;
}

footer .more ul li a {
    color: white;
    text-decoration: none;
}

footer .more ul li a:hover {
    font-weight: bold;
}

footer .iconfo {
    margin-top: 2rem;
    display: flex;
    float: right;
}

footer .icon-social {
    width: 30px;
    height: 30px;
    text-align: center;
    align-items: center;
    font-size: 19px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

footer .icon-social:hover {
    color: var(--gra-blue);
    border-color: var(--gra-blue);
}


/********LARGE SCREEN************/

@media (min-width: 1200px) {}


/********** Medium devices only ****/

@media (min-width: 992px) and (max-width: 1199px) {
    
}


/******Small divices only ******/

@media (min-width: 768px) and (max-width: 991px) {
    /***nav ******/
    nav a img {
        width: 5rem;
    }
    li.navlink {
        margin-left: .8rem;
        color: #969da5;
        font-weight: 400;
        font-size: 15px;
    }
    /********bg**********/
    
    /*********offre************/
    #offre .item p {
        width: auto;
    }
    /******get started*************/
    #get-started {
        width: 90%;
        /* text-align: center; */
    }
    /**********productive**********/
    #productive {
        margin: 20px 2rem;
    }
    #productive .content {
        margin-top: 2rem;
    }
    
    /***footer******/
    .more {
        display: flex;
        flex-direction: row;
    }
    footer {
        padding-left: 2rem;
    }
    footer .contact .social {
        margin-left: 0;
    }
    footer ul {
        padding-left: 0;
    }
    footer .iconfo {
        display: flex;
        justify-content: center;
        align-items: center;
        float: initial;
    }
}


/****** Extra small devices only *****/

@media (max-width: 767px) {
    /**********navbar************/
    nav a img {
        width: 18vw;
    }
    li.navlink {
        font-size: 17px;
    }
    li.navlink {
        margin-left: .8rem;
        color: #969da5;
        font-weight: 400;
        font-size: 15px;
    }
    #head .content {
        width: auto;
    }
    #head .content img {
        width: 80%;
    }
    /*****bg*********/
    
    
    /*********** Get started ***********/
    #get-started {
        width: 90%;
        text-align: center;
    }
    #get-started .btn {
        width: 100%;
        margin-top: 1rem;
    }
    /*********offer*********/
    #offre .item p {
        width: auto;
    }
    /**********productive**********/
    #productive {
        margin: 20px 2rem;
        text-align: center;
    }
    #productive .content {
        margin-top: 2rem;
    }
    #productive .content a {
        margin: auto;
    }
    /**********footer*************/
    .more {
        display: flex;
        flex-direction: column;
    }
    footer {
        padding-left: 2rem;
    }
    footer .contact .social {
        margin-left: 0;
    }
    footer ul {
        padding-left: 0;
    }
    footer .iconfo {
        display: flex;
        justify-content: center;
        align-items: center;
        float: initial;
    }
}